.navigation_bar {
  overflow: hidden;
  background-color #FFFFFF;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.navigation_bar a{ 
  display: block;
  color: #353839;
  padding: 14px 16px;
  text-decoration: none;
}


.navigation_bar a:hover {
  background-color: #ddd;
  color: #353839;
}

.title_above{
  text-align: center;
  font-family: Garamond, serif;
}

.title_above h1{
  font-size: 95px;
  margin: 0;
  margin-top: 100px;
}

.title_above h3{ 
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}


.content.middle{
  overflow: visible;
  background: #FFFFFF;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  padding: 10px 10px;
  letter-spacing: 3px;
  width: 50%;
  display: table-cell;
}


.content.middle h1, h2{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0px;

}

.content.middle h3{
  margin-left: auto;
  margin-right: auto;
}

.content.middle p{
  margin: 20px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  text-indent: 50px;
}

.content.middle a{
   text-decoration: none;
}

.content.side{
  width: 25%;
  overflow:visible;
  display: table-cell;
}

.dropdown{
  position: relative;
  display: block;
  vertical-align: middle;
  margin: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.desc {
  text-align: center;
  letter-spacing: normal;
  padding: 10px 10px;
}


@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.row{
  width: 100%;
  display: table;
}

.container, .container-two {
  display: flex;
}
